@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: #2ba8f0;
  --muted: #60697d;
  --border: #bac3cf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0b0b;
    --foreground: #ededed;
    --brand: #2ba8f0;
    --muted: #7c8597;
    --border: #2d3540;

    --a: #252525;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', Helvetica, sans-serif;
}
